<h1>New Moment</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.moment_path(@conn, :create)) %>

<div class="mt3">
  <%= link "back", to: Routes.moment_path(@conn, :index), class: "link dark-gray" %>
</div>
